@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,regular,italic,500,500italic,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Poppins";
}

/*=======================================================*/
header {
  background-color: #000;
}

.menu__body {
  padding: 35px 313px;
}
@media (max-width: 1385px) {
  .menu__body {
    padding: 35px;
  }
}
.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 25px;
  font-weight: bold;
}
.menu__item {
  background-color: #373c3e;
  border-radius: 48px;
  padding: 9px 13px 9px 13px;
}
.menu__item:hover {
  background-color: #fff;
}
.menu__item:hover .menu__link {
  color: #373c3e;
}
.menu__link {
  color: #fff;
}

/*=======================================================*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
}

.content {
  margin: 0 auto;
  flex: 1 1 auto;
}

.design {
  background-color: #000;
  color: #fff;
  margin-bottom: 87px;
}
.design__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 44px;
}
@media (max-width: 992px) {
  .design__row {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.design__body {
  padding: 115px 0px 0px 0px;
}
@media (max-width: 992px) {
  .design__body {
    padding: 115px 0px 0px 0px;
  }
}
.design__name-title {
  margin: 0px 0px 94px 0px;
}
@media (max-width: 992px) {
  .design__name-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.design__fullname {
  font-size: 106px;
  font-style: normal;
  font-weight: 400;
  line-height: 133px;
  margin: 0px 0px 38px 0px;
}
@media (max-width: 1385px) {
  .design__fullname {
    font-size: 50px;
    line-height: 62px;
  }
}
.design__fullname span {
  display: block;
  font-size: 133px;
  font-weight: medium;
  font-style: normal;
  font-weight: 500;
  line-height: 133px;
}
@media (max-width: 1385px) {
  .design__fullname span {
    display: block;
    font-size: 62px;
    line-height: 62px;
  }
}
@media (max-width: 992px) {
  .design__fullname {
    margin: 0;
  }
}
.design__profession {
  display: inline-block;
}
@media (max-width: 992px) {
  .design__profession {
    display: flex;
    align-items: center;
  }
}
.design__profession-name {
  background-color: #373c3e;
  padding: 13px 22px 13px 22px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 37px;
}
@media (max-width: 1385px) {
  .design__profession-name {
    max-width: 300px;
    max-height: 83px;
    font-size: 30px;
    line-height: 30px;
  }
}
.design__contacts {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  .design__contacts {
    justify-content: space-between;
  }
}
.design__photo {
  max-width: 613px;
}
@media (max-width: 1385px) {
  .design__photo {
    max-width: 538px;
  }
}
.design__photo img {
  max-width: 100%;
  border-radius: 9%;
}

.container {
  max-width: 1385px;
  margin: 0 auto;
}
@media (max-width: 1385px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

.design-contact {
  max-width: 282px;
  display: inline-block;
  flex: 0 1 50%;
  margin: 0px 0px 28px 0px;
}
@media (max-width: 1385px) {
  .design-contact {
    max-width: 203px;
  }
}
.design-contact__name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  margin: 0px 0px 5px 0px;
}
@media (max-width: 1385px) {
  .design-contact__name {
    font-size: 20px;
    line-height: 24px;
  }
}
.design-contact__means-of-communication {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 37px;
}
@media (max-width: 1385px) {
  .design-contact__means-of-communication {
    font-size: 15px;
    line-height: 26px;
  }
}

/*=======================================================*/
.about-you__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  .about-you__row {
    flex-direction: column;
    align-items: center;
  }
}
.about-you__left {
  max-width: 655px;
}
@media (max-width: 1385px) {
  .about-you__left {
    max-width: 524px;
  }
}
.about-you__right {
  max-width: 558px;
}
@media (max-width: 1385px) {
  .about-you__right {
    max-width: 336px;
  }
}
.about-you__column {
  flex-direction: column;
  margin-bottom: 93px;
}
.about-you__work-experience-text {
  font-style: italic !important;
}
.about-you__code-condition {
  font-style: italic !important;
  margin-bottom: 19px;
}
.about-you__code-condition span {
  font-weight: bold;
  color: rgb(67, 66, 66);
  font-style: normal;
}
.about-you__code-implementation img {
  border-radius: 13px;
  max-width: 100%;
}

.title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 43px;
  margin-bottom: 43px;
}
@media (max-width: 1385px) {
  .title {
    font-size: 35px;
    line-height: 30px;
  }
}

.text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 43px;
  color: #7d7d7d;
}
@media (max-width: 1385px) {
  .text {
    font-size: 19px;
    line-height: 30px;
  }
}

.list a {
  color: #000;
}
.list a:hover {
  color: rgb(186, 102, 211);
}
.list li:before {
  content: "";
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #000;
  display: inline-block;
  margin: 0px 6px 3px 0px;
}

/*=======================================================*/
footer {
  background-color: #000;
}

.footer-body {
  padding: 32px 0px 32px 0px;
}
.footer-body__row {
  display: flex;
  justify-content: space-between;
}
.footer-body__date {
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  color: #fff;
  vertical-align: middle;
}
.footer-body__rsschool-logo {
  display: flex;
  align-items: center;
  border-radius: 16px;
  background-color: #fff;
  min-width: 115px;
}
.footer-body__rsschool-logo img {
  min-width: 115px;
  max-width: 100%;
}

/*=======================================================*/
/*=======================================================*/