@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,regular,italic,500,500italic,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Poppins";
}

/*=======================================================*/
header {
  background-color: #000;
}

.header__menu {
  max-width: 2167px;
  margin: 0 auto;
}

.menu__body {
  padding: 55px 490px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 40px;
  font-weight: bold;
}

.menu__link {
  color: #fff;
}

/*=======================================================*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.design {
  background-color: #000;
  color: #fff;
  margin-bottom: 136px;
}

.design__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 70px;
}

.design__body {
  padding: 180px 0px 0px 0px;
}

.design__name-title {
  margin: 0px 0px 147px 0px;
}

.design__fullname {
  font-size: 166.67px;
  font-style: normal;
  font-weight: 400;
  line-height: 208px;
  margin: 0px 0px 60px 0px;
}

.design__fullname span {
  font-size: 208.33px;
  font-weight: medium;
  font-style: normal;
  font-weight: 500;
  line-height: 208px;
}

.design__profession {
  background-color: #373c3e;
  padding: 21px 35px 12px 37px;
  display: inline-block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 66.6667px;
  line-height: 58px;
}

.design__contacts {
  max-width: 1044px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.design__photo {
  max-width: 958px;
  max-height: 1278px;
}

.design__photo img {
  max-width: 100%;
  min-height: 100%;
  border-radius: 9%;
}

.container {
  max-width: 2167px;
  margin: 0 auto;
}

.design-contact {
  max-width: 441px;
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0px 0px 45px 0px;
}

.design-contact__name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  margin: 0px 0px 8.83px 0px;
}

.design-contact__means-of-communication {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 41.6667px;
  line-height: 58px;
}

/*=======================================================*/
.about-you__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-you__left {
  max-width: 1024px;
}

.about-you__right {
  max-width: 949px;
}

.about-you__column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 146px;
}

.about-you__work-experience-text {
  font-style: italic !important;
}

.about-you__code-condition {
  font-style: italic !important;
  margin-bottom: 30px;
}

.about-you__code-condition span {
  font-weight: bold;
  color: #434242;
  font-style: normal;
}

.about-you__code-implementation {
  font-size: 25px;
}

.title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 75px;
  line-height: 67px;
  margin-bottom: 67.33px;
}

.text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 41.6667px;
  line-height: 67px;
  color: #7d7d7d;
}

.list a {
  color: #000;
}

.list a:hover {
  color: #ba66d3;
}

.list li:before {
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #000;
  display: inline-block;
  margin: 0px 10px 5px 0px;
}
