@import "_nulestyle";

.wrapper {
	min-height: 100%;
	overflow: hidden;
 
	display: flex;
}
.content {
	max-width: 2555px;
	max-height: 1539px;
	margin: 0 auto;
	flex: 1 1 auto;
}
.design {
}
.container {
}
.design-body {
	max-width: 1861px;

}
.design-name-title {
  &__fullname {}
  &__profession {}
}
.design-contact {
  &__phone {}
  &__num {}
  &__mail {}
  &__telegram {}
  &__nick {}
  &__github {}
  &__gitlink {}
}
